it's a react native project. use `@react-navigation/native` for navigation. and plain styles for design.

the UI should support dark mode. the UI style should be bold and simple. with aggressive gradient colors and grate blur effect.